@charset "UTF-8";

@font-face {
    font-family: 'Lato-Bold';
    font-display: swap;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: 'Lato-Regular';
    font-display: swap;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'NunitoSans-Bold';
    font-display: swap;
    src: url(../fonts/NunitoSans-Bold.ttf);
}

@font-face {
    font-family: 'NunitoSans-Regular';
    font-display: swap;
    src: url(../fonts/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    font-display: swap;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-Regular';
    font-display: swap;
    src: url(../fonts/OpenSans-Regular.ttf);
}

:root {
    --color0: #000;
    --color1: #fff;
    --color2: #f9f9f9;
    --color3: #292929;
    --color4: #ee3636;
    --color5: #46c4c2;
    --color6: #fa4444;
    --color7: #D9D9D9;
    --color8: #52A8A2;
    --color9: #8b9bb5;
    --color10: #333333;
    --color11: #e3e3e3;
    --color12: #44f1ee;
    --color13: #17181e;
    --color14: #1D1D1D;
    --color15: #2d2d2d;
    --color17: #f05722;
    --color18: #69d2d0;
    --color19: #affff7;
    --color20: #f0f0ed;
    --color21: #777777;

    --font0: 'Arial, Verdana, Helvetica, sans-serif';
    --font1: 'Lato-Bold';
    --font2: 'Lato-Regular';
    --font3: 'NunitoSans-Bold';
    --font4: 'NunitoSans-Regular';
    --font5: 'Roboto-Bold';
    --font6: 'OpenSans-Regular';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    max-width: 1366px;
    margin: auto;
    background-color: var(--color2) !important;
}

.header .container1 {
    margin: auto;
    padding: 0px 10px 40px 10px;
    width: 100%;
    max-width: 996px;
}

.header .container1 img {
    width: 100%;
    max-width: 437px;
    display: block;
    margin: auto;
}

.header .container1 h1 {
    font-family: var(--font1);
    font-size: 40px;
    color: var(--color3);
    line-height: 44.3px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: auto;
}

.header .container1 p {
    font-family: var(--font2);
    font-size: 26px;
    color: var(--color3);
    line-height: 28px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin: 16px auto 40px;
}

.header .container1 p span {
    font-family: var(--font1);
}

.header .container1 p span.redspan {
    color: var(--color4);
}

.header .container1 iframe {
    width: 100%;
    max-width: 560px;
    border-radius: 20px;
    margin: auto;
    display: block;
    aspect-ratio: 16/9;
}

.buy1 .container2 {
    text-align: center;
    margin: auto;
    padding: 25px 10px 40px 10px;
}

.buy1 .container2 p {
    font-family: var(--font1);
    font-size: 20px;
    color: var(--color3);
    line-height: 24px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin: 16px auto 40px;
}

.buy1 .container2 a {
    font-family: var(--font3);
    font-size: 24px;
    color: var(--color1);
    line-height: 33px;
    align-items: center;
    background-color: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 372px;
    height: 55px;
    margin: auto;
    border: none;
    border-radius: 5px;
}

.buy1 .container2 a:hover {
    transform: scale(1.075);
    transition: all 100ms ease-in-out;
}

.buy1 .container2 .boxes1 {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 53px auto 16px;
}

.buy1 .container2 .boxes1 .box1,
.buy1 .container2 .boxes1 .box2,
.buy1 .container2 .boxes1 .box3 {
    width: 100%;
    max-width: 312px;
    height: 250px;
    background-color: var(--color1);
    border-radius: 18px;
    padding-top: 64px;
}

.buy1 .container2 p.pboxes {
    font-family: var(--font1);
    font-size: 21px;
    color: var(--color0);
    line-height: 22.2px;
    width: 100%;
    max-width: 270px;
    margin-top: 28px;
}

.calltoaction {
    background-color: var(--color1);
}

.calltoaction .container3 {
    margin: auto;
    padding: 65px 10px;
    width: 100%;
    max-width: 680px;
}

.calltoaction .container3 p {
    font-family: var(--font2);
    font-size: 23px;
    color: var(--color0);
}

.calltoaction .container3 p.firstp {
    font-family: var(--font1);
    color: var(--color4);
}

.calltoaction .container3 ul {
    width: 100%;
    max-width: 600px;
    margin: 14px 0px 25px 30px;
    padding-right: 20px;
}

.calltoaction .container3 ul li {
    font-family: var(--font2);
    font-size: 19px;
    line-height: 21.7px;
    margin-left: 12px;
}

.calltoaction .container3 ul li span {
    font-family: var(--font1);
}

.calltoaction .container3 ul li::marker {
    color: #ee3636;
}

.calltoaction .container3 p.secondp {
    font-family: var(--font2);
    font-size: 19px;
    margin-top: 10px;
    width: 100%;
    max-width: 630px;
}

.calltoaction .container3 p.secondp .redspan {
    font-family: var(--font1);
    color: var(--color4);
}

.method .container4 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 19px 10px 20px 10px;
}

.method .container4 h2 {
    font-family: var(--font1);
    color: var(--color0);
    font-size: 36px;
    text-align: center;
    margin-bottom: 15px;
}

.method .container4 h2 span {
    color: var(--color6);
}

.method .container4 h2.secondh2 {
    text-decoration: underline;
    display: block;
    margin: -5px auto 20px;
}

.method .container4 p {
    font-family: var(--font2);
    color: var(--color0);
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 680px;
}

.method .container4 .container5 {
    width: 100%;
    max-width: 750px;
    background-color: var(--color1);
    margin: 30px auto 0px;
    text-align: center;
    padding: 20px 40px 40px 40px;
}

.method .container4 .container5 h1 {
    font-family: var(--font2);
    font-size: 45px;
    color: var(--color0);
}

.method .container4 .container5 p {
    font-family: var(--font2);
    font-size: 25px;
    color: var(--color0);
    margin-top: 5px;
}

.method .container4 .container5 svg {
    width: 15px;
    height: 15px;
    position: relative;
}

.method .container4 .container5 .svg1 {
    transform: rotate(-45deg);
    top: 26px;
    left: -235px;
}

.method .container4 .container5 .svg2 {
    top: 20px;
    left: -45px;
}

.method .container4 .container5 .svg3 {
    top: 20px;
    left: 160px;
}

.method .container4 .container5 .svg4 {
    transform: rotate(45deg);
    top: 26px;
    right: -346px;
}

.method .container4 .container5 .svg5 {
    transform: rotate(90deg);
    top: 128px;
    right: -331px;
}

.method .container4 .container5 .svg6 {
    transform: rotate(135deg);
    top: 238px;
    right: -310px;
}

.method .container4 .container5 .svg7 {
    transform: rotate(180deg);
    top: 242px;
    left: 82px;
}

.method .container4 .container5 .svg8 {
    transform: rotate(180deg);
    top: 242px;
    left: -162px;
}

.method .container4 .container5 .svg9 {
    transform: rotate(225deg);
    top: 238px;
    left: -384px;
}

.method .container4 .container5 .svg10 {
    transform: rotate(270deg);
    top: 128px;
    left: -407.5px;
}

.method .container4 .container5 .boxes2 {
    width: 100%;
    max-width: 641px;
    display: flex;
    justify-content: center;
    margin: 10px auto 0px;
    outline: 2px solid var(--color4);
    outline-style: dotted;
    border-radius: 10px;
    padding: 10px 0px;
}

.method .container4 .container5 .boxes2 .box1,
.method .container4 .container5 .boxes2 .box2,
.method .container4 .container5 .boxes2 .box3 {
    width: 100%;
    max-width: 200px;
    height: 200px;
    background-color: var(--color7);
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.method .container4 .container5 .boxes2 .box2 {
    color: var(--color1);
    background-color: var(--color8);
}

.method .container4 .container5 .boxes2 h2 {
    font-family: var(--font1);
    font-size: 21px;
    color: var(--color0);
    line-height: 30px;
    width: 100%;
    max-width: 170px;
    margin-top: 28px;
}

.method .container4 .container5 .boxes2 .box2 h2 {
    color: var(--color1);
}

.modules {
    background-color: var(--color1);
}

.modules .container6 {
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 1070px;
    padding: 65px 10px 48px 10px;
}

.modules .container6 h2 {
    font-family: var(--font1);
    font-size: 37px;
    color: var(--color5);
    line-height: 100%;
    width: 100%;
    max-width: 610px;
    margin: auto;
}

.modules .container6 .rectangle {
    background-color: var(--color9);
    width: 151px;
    height: 6px;
    margin: 76px auto 56px;
}

.modules .container6 h2.secondh2 {
    font-family: var(--font1);
    font-size: 54px;
    color: var(--color10);
    line-height: 110%;
    width: 100%;
    max-width: 720px;
    margin: auto;
    text-decoration: underline;
}

.modules .container6 ul li {
    list-style: none;
}

.modules .container6 .boxes3 {
    width: 100%;
    max-width: 1040px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px auto 0px;
}

.modules .container6 .boxes3 .box1,
.modules .container6 .boxes3 .box2,
.modules .container6 .boxes3 .box3,
.modules .container6 .boxes3 .box4,
.modules .container6 .boxes3 .box5 {
    width: 100%;
    max-width: 312px;
    background-color: var(--color11);
    margin: 32px 16px 0px 16px;
    border-radius: 10px;
    padding: 30px 10px;
}

.modules .container6 .boxes3 .box2,
.modules .container6 .boxes3 .box4,
.modules .container6 .boxes3 .box5 {
    background-color: var(--color12);
}

.modules .container6 .boxes3 .box1 h3,
.modules .container6 .boxes3 .box2 h3,
.modules .container6 .boxes3 .box3 h3,
.modules .container6 .boxes3 .box4 h3,
.modules .container6 .boxes3 .box5 h3 {
    font-family: var(--font1);
    font-size: 21px;
    color: var(--color13);
    text-decoration: underline;
}

.modules .container6 .boxes3 .box1 ul li,
.modules .container6 .boxes3 .box2 ul li,
.modules .container6 .boxes3 .box3 ul li,
.modules .container6 .boxes3 .box4 ul li,
.modules .container6 .boxes3 .box5 ul li {
    font-family: var(--font4);
    font-size: 18px;
    color: var(--color13);
    margin-top: 20px;
}

.author {
    background-color: var(--color14);
}

.author .container7 {
    width: 100%;
    max-width: 890px;
    padding: 40px 10px;
    display: flex;
    margin: auto;
}

.author .container7 img {
    width: 100%;
    max-width: 317px;
    height: auto;
    border-radius: 10%;
    border: 3px solid #ffffff;
}

.author .container7 .aboutauthor {
    margin: 8px 0px 0px 62px;
    color: var(--color1);
}

.author .container7 .aboutauthor h1 {
    font-family: var(--font1);
    font-size: 32px;
    line-height: 38px;
}

.author .container7 .aboutauthor p {
    font-family: var(--font2);
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
    width: 100%;
    max-width: 490px;
}

.buy2 .container8 {
    width: 100%;
    max-width: 1020px;
    padding: 47px 10px 36px 10px;
    margin: auto;
    text-align: center;
}

.buy2 .container8 h2 {
    font-family: var(--font1);
    font-size: 23px;
    color: var(--color6);
    line-height: 20px;
    margin-top: 22px;
}

.buy2 .container8 p {
    font-family: var(--font1);
    font-size: 20px;
    color: var(--color0);
    width: 100%;
    max-width: 680px;
    margin: 10px auto 0px;
}

.buy2 .container8 h3 {
    font-family: var(--font1);
    font-size: 20px;
    color: var(--color10);
    line-height: 24px;
    width: 100%;
    max-width: 940px;
    margin: 104px auto 40px;
}

.buy2 .container8 a {
    font-family: var(--font3);
    font-size: 24px;
    color: var(--color1);
    line-height: 33px;
    align-items: center;
    background-color: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 372px;
    height: 55px;
    margin: auto;
    border: none;
    border-radius: 5px;
}

.buy2 .container8 a:hover {
    transform: scale(1.075);
    transition: all 100ms ease-in-out;
}

.public {
    background-color: var(--color1);
}

.public .container9 {
    width: 100%;
    max-width: 1015px;
    padding: 40px 10px 14px 10px;
    margin: auto;
}

.public .container9 h2 {
    font-family: var(--font1);
    font-size: 32px;
    color: var(--color3);
    text-align: center;
}

.public .container9 .container10 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    max-width: 982px;
}

.public .container9 .container10 .box1,
.public .container9 .container10 .box2,
.public .container9 .container10 .box3,
.public .container9 .container10 .box4 {
    display: flex;
    margin: 20px 0px 32px 6px;
}

.public .container9 .container10 .box1 img,
.public .container9 .container10 .box2 img,
.public .container9 .container10 .box3 img,
.public .container9 .container10 .box4 img {
    width: 24px;
    height: 36px;
}

.public .container9 .container10 p {
    font-family: var(--font1);
    font-size: 18px;
    color: var(--color3);
    line-height: 18px;
    display: flex;
    align-items: center;
    margin-left: 16px;
    width: 100%;
    max-width: 445px;
}

.growthmethod .container11 {
    width: 100%;
    max-width: 1096px;
    padding: 0px 10px 60px 10px;
    margin: auto;
}

.growthmethod .container11 .container12,
.growthmethod .container15 {
    width: 100%;
    max-width: 1096px;
    padding: 48px 0px 0px 0px;
    margin: auto;
}

.growthmethod .container11 .container12 h2,
.growthmethod .container15 h2 {
    font-family: var(--font5);
    font-size: 40px;
    color: var(--color15);
    line-height: 28px;
    text-align: center;
}

.growthmethod .container12 h2 span {
    color: var(--color17);
    text-transform: uppercase;
}

.growthmethod .container15 h2 span {
    color: var(--color18);
    text-transform: uppercase;
}

.growthmethod .container11 .container12 .boxes4 {
    width: 100%;
    max-width: 1014px;
    display: flex;
    justify-content: space-between;
    margin: 42px auto 0px;
}

.growthmethod .container11 .container12 .boxes4 .box1,
.growthmethod .container11 .container12 .boxes4 .box2,
.growthmethod .container11 .container12 .boxes4 .box3 {
    width: 100%;
    max-width: 322px;
    background-color: var(--color1);
    border-radius: 40px;
    padding: 40px 24px 40px 24px;
}

.growthmethod .container11 .container12 .boxes4 .box1 p,
.growthmethod .container11 .container12 .boxes4 .box2 p,
.growthmethod .container11 .container12 .boxes4 .box3 p {
    font-family: var(--font2);
    font-size: 16px;
    line-height: 24px;
    color: var(--color15);
}

.growthmethod .container11 .container12 .boxes4 .box1 p span,
.growthmethod .container11 .container12 .boxes4 .box2 p span,
.growthmethod .container11 .container12 .boxes4 .box3 p span {
    font-family: var(--font1);
    color: var(--color17);
}

.growthmethod .container11 .container12 .boxes4 .box1 h3,
.growthmethod .container11 .container12 .boxes4 .box2 h3,
.growthmethod .container11 .container12 .boxes4 .box3 h3 {
    font-family: var(--font5);
    font-size: 18px;
    color: var(--color15);
    text-transform: uppercase;
    margin-top: 18px;
}

.growthmethod .container11 .container12 .boxes4 .box3 h3 {
    margin-top: 41px;
}

.growthmethod .container14 {
    background-color: var(--color1);
    padding: 0px 10px 60px 10px;
    margin: auto;
}

.growthmethod .container14 .container15 {
    width: 100%;
    max-width: 1096px;
}

.growthmethod .container14 .container15 .boxes5 {
    width: 100%;
    max-width: 1014px;
    display: flex;
    justify-content: space-between;
    margin: 42px auto 0px;
}

.growthmethod .container14 .container15 .boxes5 .box1,
.growthmethod .container14 .container15 .boxes5 .box2,
.growthmethod .container14 .container15 .boxes5 .box3 {
    width: 100%;
    max-width: 322px;
    background-color: var(--color19);
    border-radius: 40px;
    padding: 40px 24px 40px 24px;
}

.growthmethod .container14 .container15 .boxes5 .box2 {
    background-color: var(--color20);
}

.growthmethod .container14 .container15 .boxes5 .box1 p,
.growthmethod .container14 .container15 .boxes5 .box2 p,
.growthmethod .container14 .container15 .boxes5 .box3 p {
    font-family: var(--font2);
    font-size: 16px;
    line-height: 24px;
    color: var(--color15);
}

.growthmethod .container14 .container15 .boxes5 .box1 p span,
.growthmethod .container14 .container15 .boxes5 .box2 p span,
.growthmethod .container14 .container15 .boxes5 .box3 p span {
    font-family: var(--font1);
}

.growthmethod .container14 .container15 .boxes5 .box1 h3,
.growthmethod .container14 .container15 .boxes5 .box2 h3,
.growthmethod .container14 .container15 .boxes5 .box3 h3 {
    font-family: var(--font5);
    font-size: 18px;
    color: var(--color15);
    text-transform: uppercase;
    margin-top: 18px;
}

.growthmethod .container14 .container15 .boxes5 .box3 h3 {
    margin-top: 41px;
}

.warranty .container16 {
    width: 100%;
    max-width: 1000px;
    padding: 45px 10px 40px 10px;
    margin: auto;
}

.warranty .container16 img {
    display: block;
    width: 100%;
    max-width: 221px;
    margin: auto;
}

.warranty .container16 p {
    font-family: var(--font6);
    font-size: 16px;
    color: var(--color21);
    text-align: center;
    width: 100%;
    max-width: 470px;
    margin: 40px auto 45px;
}

.warranty .container16 a {
    font-family: var(--font3);
    font-size: 24px;
    color: var(--color1);
    line-height: 33px;
    align-items: center;
    background-color: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 372px;
    height: 55px;
    margin: auto;
    border: none;
    border-radius: 5px;
}

.warranty .container16 a:hover {
    transform: scale(1.075);
    transition: all 100ms ease-in-out;
}

footer {
    background-color: var(--color0);
    font-family: var(--font1);
    font-size: 14px;
    color: var(--color5);
    height: 100%;
    padding: 5px;
    text-align: center;
}

footer a:hover {
    color: var(--cor8);
}

@media(max-width: 1023px) {
    .header .container1 img {
        max-width: 400px;
    }

    .header h1 {
        font-size: 36px;
    }

    .header p {
        max-width: 900px;
    }

    .buy1 .container2 {
        padding: 25px 10px 4px 10px;
    }

    .buy1 .container2 .boxes1 {
        flex-direction: column;
        align-items: center;
    }

    .buy1 .container2 .boxes1 .box1,
    .buy1 .container2 .boxes1 .box2,
    .buy1 .container2 .boxes1 .box3 {
        margin-bottom: 30px;
    }

    .calltoaction .container3 {
        padding: 44px 10px 49px 10px;
    }

    .method .container4 h2 {
        font-size: 32px;
    }

    .method .container4 .container5 {
        max-width: 700px;
    }

    .method .container4 .container5 .svg1 {
        top: 25px;
        left: -54px;
    }

    .method .container4 .container5 .svg2 {
        left: 66px;
    }

    .method .container4 .container5 .svg3 {
        transform: rotate(45deg);
        top: 25px;
        left: 185px;
    }

    .method .container4 .container5 .svg4 {
        transform: rotate(90deg);
        top: 295px;
        right: -170px;
    }

    .method .container4 .container5 .svg5 {
        top: 562px;
        right: -151px;
    }

    .method .container4 .container5 .svg6 {
        top: 832px;
        right: -130px;
    }

    .method .container4 .container5 .svg7 {
        top: 837px;
        left: -28px;
    }

    .method .container4 .container5 .svg8 {
        transform: rotate(225deg);
        top: 834px;
        left: -184px;
    }

    .method .container4 .container5 .svg9 {
        transform: rotate(270deg);
        top: 562px;
        left: -208px;
    }

    .method .container4 .container5 .svg10 {
        top: 295px;
        left: -227px;
    }

    .method .container4 .container5 .boxes2 {
        max-width: 280px;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

    .method .container4 .container5 .boxes2 .box1,
    .method .container4 .container5 .boxes2 .box2,
    .method .container4 .container5 .boxes2 .box3 {
        max-width: 250px;
        height: 250px;
        margin: 5px 5px 10px 5px;
    }

    .method .container4 .container5 .boxes2 h2 {
        font-size: 32px;
        line-height: 40px;
        max-width: 270px;
    }

    .modules .container6 {
        padding: 42px 10px 50px 10px;
    }

    .modules .container6 h2.secondh2 {
        font-size: 50px;
    }

    .modules .container6 .boxes3 {
        flex-direction: column;
        align-items: center;
    }

    .modules .container6 .boxes3 .box1,
    .modules .container6 .boxes3 .box3,
    .modules .container6 .boxes3 .box5 {
        background-color: var(--color11);
    }

    .modules .container6 .boxes3 .box2,
    .modules .container6 .boxes3 .box4 {
        background-color: var(--color12);
    }

    .author .container7 {
        flex-direction: column;
        align-items: center;
    }

    .author .container7 .aboutauthor {
        margin: 30px 10px 0px 10px;
    }

    .buy2 .container8 {
        padding: 12px 10px 36px 10px;
    }

    .buy2 .container8 h3 {
        margin: 80px auto 40px;
    }

    .public .container9 {
        padding: 30px 10px 6px 10px;
    }

    .public .container9 .container10 {
        display: block;
        max-width: 800px;
    }

    .public .container9 .container10 p {
        max-width: 100%;
    }

    .growthmethod .container11 {
        padding: 0px 10px 18px 10px;
    }

    .growthmethod .container11 .container12 h2,
    .growthmethod .container15 h2 {
        font-size: 30px;
    }

    .growthmethod .container11 .container12 .boxes4 {
        margin: 46px auto 0px;
        flex-direction: column;
        align-items: center;
    }

    .growthmethod .container11 .container12 .boxes4 .box1,
    .growthmethod .container11 .container12 .boxes4 .box2,
    .growthmethod .container11 .container12 .boxes4 .box3 {
        margin-bottom: 32px;

    }

    .growthmethod .container14 {
        padding: 0px 10px 18px 10px;
    }

    .growthmethod .container14 .container15 .boxes5 {
        margin: 46px auto 0px;
        flex-direction: column;
        align-items: center;
    }

    .growthmethod .container14 .container15 .boxes5 .box1,
    .growthmethod .container14 .container15 .boxes5 .box2,
    .growthmethod .container14 .container15 .boxes5 .box3 {
        margin-bottom: 32px;
    }
}

@media(max-width: 767px) {
    .calltoaction .container3 {
        padding: 44px 20px;
    }

    .method .container4 h2.secondh2 {
        font-size: 25px;
    }

    .method .container4 .container5 p {
        font-size: 22px;
    }

    .modules .container6 h2.secondh2 {
        font-size: 38px;
    }

    .modules .container6 .rectangle {
        margin: 60px auto 45px;
    }

    .calltoaction .container3 ul {
        width: 100%;
        max-width: 580px;
        margin: 14px 0px 25px 20px;
        padding-right: 10px;
    }

    .growthmethod .container11 .container12,
    .growthmethod .container15 {
        padding: 45px 0px 0px 0px;
    }

    .growthmethod .container11 .container12 h2,
    .growthmethod .container15 h2 {
        font-size: 23px;
    }

    .growthmethod .container11 .container12 .boxes4 {
        margin: 30px auto 0px;
    }

    .growthmethod .container14 .container15 .boxes5 {
        margin: 30px auto 0px;
    }
}

@media(max-width: 539px) {
    .buy1 .container2 a {
        max-width: 260px;
    }

    .method .container4 .container5 h1 {
        font-size: 33px;
    }

    .method .container4 .container5 p {
        margin-top: 15px;
    }

    .method .container4 .container5 .svg1 {
        left: -13px;
    }

    .method .container4 .container5 .svg3 {
        left: 144px;
    }

    .method .container4 .container5 .svg4 {
        top: 225px;
        right: -130px;
    }

    .method .container4 .container5 .svg5 {
        top: 420px;
        right: -111px;
    }

    .method .container4 .container5 .svg6 {
        top: 622px;
        right: -90px;
    }

    .method .container4 .container5 .svg7 {
        top: 627px;
    }

    .method .container4 .container5 .svg8 {
        top: 623px;
        left: -144px;
    }

    .method .container4 .container5 .svg9 {
        top: 419px;
        left: -168px;
    }

    .method .container4 .container5 .svg10 {
        top: 225px;
        left: -187px;
    }

    .method .container4 .container5 .boxes2 {
        max-width: 200px;
        padding: 10px 5px;
    }

    .method .container4 .container5 .boxes2 .box1,
    .method .container4 .container5 .boxes2 .box2,
    .method .container4 .container5 .boxes2 .box3 {
        max-width: 180px;
        height: 180px;
    }

    .method .container4 .container5 .boxes2 h2 {
        font-size: 23px;
    }

    .modules .container6 .boxes3 .box1,
    .modules .container6 .boxes3 .box2,
    .modules .container6 .boxes3 .box3,
    .modules .container6 .boxes3 .box4,
    .modules .container6 .boxes3 .box5 {
        max-width: 270px;
        margin: 32px 0px 0px 0px;
    }

    .author .container7 img {
        max-width: 240px;
    }

    .buy2 .container8 a {
        max-width: 260px;
    }

    .warranty .container16 a {
        max-width: 260px;
    }

    footer {
        font-size: 10px;
    }
}